extends layout 
include mixins/nav
include mixins/itemsList


block content
    +nav("items")

    div(class="container max-w-7xl mx-auto bg-custom-yellow h-custom-screen-80 rounded-t-3xl overflow-scroll")
        div(class="top-continer flex justify-between mx-20 p-10")
            form(class="categories-dropdown flex items-center gap-2" method="post" action=`/store/item/`)
                label(for="category_name" class="text-slate-500 text-3xl") Category: 
                select(name="category" id="category_name" type="select" class="text-3xl w-full bg-gray-50 border border-grey-300 text-slate-500 rounded-lg block p-2.5") 
                    option(value="all") All
                    each category in categories_list
                        option(value=category._id selected=(category_id===category._id.toString() ? "selected": false)) #{category.name}
                button(class="bg-yellow-500 py-1 px-3 text-2xl hidden" id="submit-form") Filter
            div(class="add-new-item")
                button(class="bg-yellow-500 p-2 px-6 border-2 rounded-xl") 
                    a(href="/store/item/create" class="flex items-center gap-4") 
                        img(src="/images/plus-circle.png")
                        p(class="text-2xl") New
        if category_id //if a items in a particular category is searched 
            div(class="categories-cards flex flex-col gap-7 mx-20")
                each item in filtered_items_list
                    +itemsList(item)
        else // if all items in the database is searched
            div(class="categories-cards flex flex-col gap-7 mx-20")
                each item in items_list
                    +itemsList(item)

    script. 
        const category = document.querySelector("#category_name");
        const formButton = document.querySelector("#submit-form")
        //- click form submit button when category option is changed 
        category.addEventListener("change", (event)=>{
            formButton.click()
        })